version: '3.9'
services:
    postgres:
        image: postgres:15
        container_name: postgresDB
        restart: always
        environment:
          - POSTGRES_DB=db
          - POSTGRES_USER=postgres
          - POSTGRES_PASSWORD=password
        ports:
          - '5432:5432'
        volumes:
          - ./migrations:/docker-entrypoint-initdb.d
          - pgdata:/var/lib/postgresql/data
    app:
        build: .
        depends_on:
          - postgres
        environment:
          - DB_HOST=postgres
          - DB_PORT=5432
          - DB_USER=postgres
          - DB_PASSWORD=password
          - DB_NAME=db
        ports:
          - '8080:8080'

volumes:
    pgdata: